$bg-color: #31363f;
$bg-color-secondary: #212429;
$color-shadow: #252323;
$color: #9ec8b9;
$color-secondary: #A3C7D6;
$primary-color: #f97300;
$box-shadow: 0 1rem 2rem rgba($color-shadow, 0.4);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($color-shadow, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);
