<%- include("partials/head.ejs") %>
  </head>

  <body>
    <%- include("partials/navbar.ejs") %>
      <main class="d-flex justify-content-center align-items-center">
        <div class="row column-gap-5" id="container">
          <div class="col-7">
            <h1 class="text-center" id="mainText">
              <%=message%>
            </h1>
          </div>
          <div class="col d-flex flex-column justify-content-center align-items-center bg-color gap-2 text-decoration-none rounded-3">
            <a href="#" class="text-color text-decoration-none">Login</a>
            <a href="#" class="text-color  text-decoration-none">Signup</a>
          </div>
        </div>
        </div>
        <div>
        </div>
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
  </body>

  </html>