<%- include("partials/head.ejs") %>
  <link rel="stylesheet" href="/css/login.css">
  </head>

  <body>
    <%- include("partials/navbar.ejs") %>
      <main>
        <h1 class="text-center mt-4 mb-4">
          <%=message%>
        </h1>
        
        <h2 class="text-center text-white">
          <%=messageLogin%>
        </h2>
      </main>
  </body>

  </html>